nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    height: 60px;

    .logo img {
        width: 40px;
    }

    a {
        color: #000;
        font-weight: 400;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    .title h1 {
        font-weight: 300;
        font-size: 1.3rem;
    }
}

main {
    padding: 1rem;

    .desc p {
        color: #fff;
        font-weight: 200;
        font-size: 1.2rem;
        text-align: center;
    }

    .seznami {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 2rem;

        .seznam {
            h2 {
                color: #000;
                font-weight: 400;
                font-size: 1.5rem;
            }

            p {
                color: #000;
                font-weight: 300;
                font-size: 1rem;
            }
        }
    }
}