nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    height: 60px;

    .logo img {
        width: 40px;
        height: 40px;
    }

    a {
        color: #000;
        font-weight: 400;
        font-size: 1rem;
    }
}

main {
    padding: 1rem;

    h1 {
        color: #fff;
        font-weight: 300;
        font-size: 2.5rem;
    }

    p {
        color: #fff;
        font-weight: 200;
        font-size: 1.2rem;
    }

    .seznami {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 2rem;
    }

    .seznam {
        padding: 1rem;
        background: #0000004f;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;

        h2 {
            color: #989dff;
            font-weight: 300;
            font-size: 1.5rem;
        }

        p {
            color: #fff;
            font-weight: 200;
            font-size: 1rem;
        }
    }
}