.export-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        color: #fff;
        font-size: 2rem;
        font-weight: 300;
    }

    p{
        color: #fff;
        font-weight: 200;
    }

    .export-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;

        button {
            padding: 10px;
            background: transparent;
            border-radius: 4px;
            border: 1px solid #fff;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 1rem;
            font-weight: 200;

            img{
                width: 20px;
                height: 20px;
                filter: invert(1);
            }
        }
    }
}