.checklist-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        color: #fff;
        font-size: 2rem;
        font-weight: 300;
    }

    p{
        color: #fff;
        font-weight: 200;
    }
}