.checklist-page {
    display: flex;
    flex-direction: column;
    gap: 20px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: #fff;
        height: 60px;

        button {
            padding: 10px;
            background: transparent;
            border-radius: 4px;
            border: none;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 1rem;
            font-weight: 200;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .vsebina {
        padding: 10px;

        h1 {
            color: #000;
            font-weight: 300;
            font-size: 2rem;
        }

        p {
            color: #271f53;
            font-weight: 300;
            font-size: 1.2rem;
        }

        .single-select-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .input-wrapper {
            display: flex;
            gap: 8px;
        }

        .selected-display {
            margin-top: 8px;
            font-weight: bold;
        }
    }
}

/* Export */

.drawer-content {
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
}

.export-page {
    padding: 1rem;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.drawer-close {
    margin: 0 auto;
    width: 3rem;
    height: 0.375rem;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: #d1d5db;
    margin-bottom: 0.5rem;
}

.export-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    button {
        padding: 10px;
        background: #000;
        border-radius: 4px;
        border: 1px solid #fff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 1rem;
        font-weight: 400;

        img {
            width: 20px;
            height: 20px;
            filter: invert(1);
        }
    }
}