.checklist-page {
    display: flex;
    flex-direction: column;
    gap: 20px;

   

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: #fff;
        height: 60px;

        button {
            padding: 10px;
            background: transparent;
            border-radius: 4px;
            border: none;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 1rem;
            font-weight: 200;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .vsebina {
        padding: 10px;
    }
}

.drawer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.144);
}

.drawer-content {
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
}

.export-page {
    padding: 1rem;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.drawer-close {
    margin: 0 auto;
    width: 3rem;
    height: 0.375rem;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: #d1d5db;
    margin-bottom: 0.5rem;
}

.export-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    button {
        padding: 10px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid #000;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 1rem;
        font-weight: 400;

        img {
            width: 20px;
            height: 20px;
        }
    }
}



/* Drawer styling */
.drawer-content {
    background-color: #ffffff;
    color: #000;
}

.drawer-header {
    border-bottom: 2px solid #000000;
    padding: 10px;
    font-weight: bold;
}

.drawer-description {
    margin-bottom: 15px;
}

.export-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.export-buttons button img {
    margin-left: 10px;
}

.export-buttons button:hover {
    background-color: #333;
}
