.about-content {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
        color: #fff;
        font-weight: 300;
        font-size: 2.5rem;
    }

    p {
        color: #fff;
        font-weight: 200;
        font-size: 1.2rem;
    }

    ul {
        list-style: circle;

        li {
            margin-left: 20px;

            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}