.about-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 2rem;

    h1{
        color: #fff;
        font-weight: 300;
        font-size: 2.5rem;
    }

    p{
        color: #fff;
        font-weight: 200;
        font-size: 1.2rem;
    }
}