* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif
}

body {
  background: url("./bg.svg") no-repeat center center fixed;
  backdrop-filter: blur(10px);
  background-size: cover;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  outline: none;
  border: none;
}