nav {
    background: #000;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-decoration: none;
}